<h5>Ken\'s Flower Shop</h5>
<div class="contacts-container">

  <div class="location-1">
    <p class="contactinfoPtag3"><a class="location-2-phone" href="tel:(419)473-3000">(419)473-3000</a></p>
    <p class="contactinfoPtag1">5434 Monroe St.</p>
    <p class="contactinfoPtag2">Toledo, OH 43623</p>
  </div>
  <div class="location-2">
    <p class="contactinfoPtag3"><a class="location-3-phone" href="tel(419)381-8881">(419)381-8881</a></p>
    <p class="contactinfoPtag1">4335 Heatherdowns Blvd.</p>
    <p class="contactinfoPtag2">Toledo, OH 43614</p>
  </div>
</div>
