.dropdown-toggle, dropdown-item {
    cursor: pointer;
}

.btn-outline-success {
    border-color: #c00;
    color: #fff !important;
}

.btn-outline-success:hover {
    background-color: #c00;
    color: #fff;
}

.dropdown .text-light {
    color: #fff !important;
}